<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/login_registration.css">
<title>Admin Kayıt</title>
</head>
<body>
	<div class="login-container">
		<div class="form">
			<div class="" id="sign-in-info">
				  <h1>Hesap Oluştur</h1>
			      <p class="small"></p>
				   <!-- success message -->
					<div th:if="${param.success}">
						<div style="color: green">Hesap Oluştruldu! Giriş Yapabilirsin</div>
					</div>
					<br>
			      <form th:action="@{/registration}" th:object="${admin}" id="sign-up-form" method="post">
				        <input type="text" placeholder="Kullanıcı Adı" name="username" 
				        id="firstName" class="form-control" th:field="*{username}" required autofocus="autofocus" />
				        
				        <input type="password" placeholder="Parola" name="password"
				        id="password" class="form-control" th:field="*{password}" required autofocus="autofocus"/>
				        
				        <button class="control-button up" type="submit">Kaydol</button>
				        <br>
				        <span><a href="/" th:href="@{/login}" style="color: green; text-decoration: none">Giriş Yap</a></span>
			      </form> 
			</div>
		</div>
	</div>
</body>
</html>